<template>
  <transition name="fade">
    <div class="container" v-if="showModal">
      <h2>{{ pokemon.name | capitalLetter }}</h2>
      <div class="close" @click="modalUpdate()">X</div>
      <img :src="sprite" alt="sprite" />
    </div>
  </transition>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "ModalSprite",
  props: ["sprite", "namePokemon", "form"],
  computed: {
    ...mapState(["showModal", "pokemon"])
  },
  methods: {
    ...mapMutations(["modalUpdate"])
  },
  filters: {
    capitalLetter: function(word) {
      return word.charAt(0).toUpperCase() + word.slice(1);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/sass/_variables.scss";

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: $dark-green;
}
.container {
  width: 80%;
  height: 80%;
  border: 1px solid $border-gray;
  background-color: $retro-green;
}

img {
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
}

h2 {
  position: absolute;
  font-size: 18px;
  top: 0;
  left: 80px;
  color: $dark-green;
}
</style>
