  // variables
  $retro-green: #90BF9D;
  $retro-yellow: #E7DE9B;
  $retro-red: #F75E51;
  $retro-gray: #7C7669;
  $retro-orange: #F9BB5E;
  $retro-blue: #7395F0;
  $gray: #3B3932;
  $dark-gray: #3B3932;
  $dark-red: #C14E43;
  $light-blue: #47A1F4;
  $dark-blue: #6684D7;
  $border-gray: #444;
  $dark-green: #334438;